/* css/style.css */

/* Đảm bảo body chiếm toàn bộ chiều cao màn hình và là flex column để footer luôn ở dưới cùng */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

/* Đảm bảo phần nội dung chính co giãn để đẩy footer xuống */
main {
    flex-grow: 1; 
}
